<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <properties resource="mybatis-generator/generator-config.properties" />

    <context id="generator" targetRuntime="MyBatis3DynamicSQL">

        <property name="autoDelimitKeywords" value="true" />

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="${driver-class}" connectionURL="${connection-url}"
                        userId="${username}" password="${password}"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
            <property name="useJSR310Types" value="true"/>
            <property name="addRemarkComments" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.annwyn.autolycus.mybatis.generator.model" targetProject="src\main\java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <javaClientGenerator targetPackage="com.annwyn.autolycus.mybatis.generator.mapper" targetProject="src\main\java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <table tableName="mms_manager" domainObjectName="Manager" />
        <table tableName="mms_role" domainObjectName="Role" />
    </context>

    <context id="readonly" targetRuntime="MyBatis3DynamicSQL">

        <property name="autoDelimitKeywords" value="true" />

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <plugin type="org.mybatis.generator.plugins.dsql.ReadOnlyPlugin" />

        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="${driver-class}" connectionURL="${connection-url}"
                        userId="${username}" password="${password}"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
            <property name="useJSR310Types" value="true"/>
            <property name="addRemarkComments" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.annwyn.autolycus.mybatis.generator.model" targetProject="src\main\java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <javaClientGenerator targetPackage="com.annwyn.autolycus.mybatis.generator.mapper" targetProject="src\main\java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <table tableName="mms_menu" domainObjectName="Menu" />
    </context>

</generatorConfiguration>