<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.annwyn.autolycus.backend.mybatis.mapper.ManagerMapper">

    <select id="searchByMail" resultType="com.annwyn.autolycus.backend.mybatis.model.Manager">
        select * from mms_manager where manager_mail = #{mailAddress}
    </select>
</mapper>